files:
  "/etc/nginx/conf.d/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      upstream nodejs_app {
          server 127.0.0.1:8080;
      }

      server {
          listen 80;
          listen [::]:80;

          location /health {
              access_log off;
              return 200 "healthy\n";
              add_header Content-Type text/plain;
          }

          location / {
              proxy_pass         http://nodejs_app;
              proxy_http_version 1.1;
              proxy_set_header   Upgrade $http_upgrade;
              proxy_set_header   Connection 'upgrade';
              proxy_set_header   Host $host;
              proxy_cache_bypass $http_upgrade;
          }
      }

      # Redirect HTTPS traffic to port 3000 after SSL termination
      server {
          listen 443 ssl;
          ssl_certificate     /etc/pki/tls/certs/server.crt;
          ssl_certificate_key /etc/pki/tls/private/server.key;

          location / {
              proxy_pass         http://nodejs_app;
              proxy_http_version 1.1;
              proxy_set_header   Upgrade $http_upgrade;
              proxy_set_header   Connection 'upgrade';
              proxy_set_header   Host $host;
              proxy_cache_bypass $http_upgrade;
          }
      }

container_commands:
  01_restart_nginx:
    command: "service nginx restart"
